*{
    margin: 0;
    padding: 0;
    
    ::-webkit-scrollbar     /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
    {  
        width: 7px;  /*滚动条宽度*/
        height: 7px;  /*滚动条高度*/
    }  
    ::-webkit-scrollbar-track      /*定义滚动条轨道 内阴影+圆角*/  
    {  
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
        border-radius: 10px;  /*滚动条的背景区域的圆角*/
        background-color: #fff;/*滚动条的背景颜色*/  
    }  
    ::-webkit-scrollbar-thumb     /*定义滑块 内阴影+圆角*/  
    {  
        border-radius: 10px;  /*滚动条的圆角*/
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
        background-color: #d3cfcf;  /*滚动条的背景颜色*/
    }
}

html,body{
    width: 100%;
    height: 100%;
    user-select: none;
    background-image: url('../image/background_image.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    // background-color: #B2DBBF;
}
.main{
    width: 1200px;
    background-color: #70C1B3;
    margin: 10px auto;
    padding: 10px 0;
    border-radius: 10px;

    .Qr-codimg{
        margin: 50px 0;
        position: relative; 
        left: 50%; 
        transform: translateX(-50%);
        width: 200px;
        display: inline-block;
    
        img{
            width: 100%;
        }
    }
    .explain{    // 首页
        margin-top: -20px;
        user-select: none;
        color: #F7FFF7;
        padding-bottom: 50px;
        
        >div{
            display: flex;
            justify-content: center;
            line-height: 3;
        }
    }
}

.header-main{    // 头部 
    width: 1200px;
    height: 100%;
    position: relative;
    user-select: none;

    .header{
        width: 1200px;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #FFF;
        border-bottom: 1px solid #FFF;

        .title{
            letter-spacing: 5px;
            font-weight: bold;
            margin-left: 20px;
            font-size: 25px;
        }

        .menu{
            display: flex;
            margin-right: 20px;

            .menu-item{
                padding: 0 20px;
                height: 40px;
                margin-top: 10px;
                display: flex;
                align-items: center;
                cursor: pointer;
                color: #FFF;
                text-decoration: none;

                &:hover{
                    background-image: linear-gradient(135deg,#000,#999);
                    -webkit-background-clip:text;
                    color: transparent;
                }
            }

            .active{
                border: 1px solid #FFF;
                border-bottom: 1px solid#70C1B3;
            }
        }
    }
}

.content{     // 内容区域
    // min-height: 400px;
    user-select: none;
    height: 650px;
    overflow: auto;

    @keyframes cssAnimation{
        0%{margin-bottom: -1000px;}
        1000%{ margin-bottom: 0px; }
    }

    .code-block{     // 代码块
        width: 1000px;
        max-height: 400px;
        background-color:#F7FFF7;
        overflow: auto;
        border-radius: 10px;
        padding: 20px;
        box-sizing: border-box;
        user-select: text;
        white-space: nowrap;
        line-height: 30px;
        color: #011627;
        margin: 20px auto;
        font-size: 15px;
        animation:cssAnimation 2s ease 0s 1;

        ::selection { background:#E8AA14; }    /* webkit, opera, IE9 */
        ::-moz-selection { background:#E8AA14; }    /* mozilla firefox */

        .title{
            font-size: 20px;
            font-weight: bold;
            border-bottom: 1px solid #000;
            display: flex;
            margin-bottom: 10px;
            padding: 0 100px 5px 0;
            width: max-content;
            user-select: none;
        }
    }
}